.App {
  width: 30%;
  margin: 2em auto;
  background-image: url(../public/5619919.jpg);
  background-size: cover;
  border-radius: 5px;
  color: #b2f7f7;
  box-shadow: 3px 3px 19px 0px rgba(0,0,0,0.75);
  
}
/*
#b2f7f7
#a092ee; */